html {
    background-color: pink;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    margin: 100px;
    background-color: white;
    background: url(background.jpg) no-repeat;
    background-size: contain;
    width: 1280px;
    height: 768px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}


.navbaritem {
    margin: 50px 40px 0px 40px;
    color: black;
}

#login {
    padding: 3px 20px 3px 20px;
    margin-right: 200px;
    background-color: white;
    border: 2px solid;
    border-color: turquoise;
    font-style: bold;
    color: turquoise;
    border-radius: 15px 15px 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px; 
    width: 400px;
    height: 200px;
}

h1 {
    color: turquoise;
}

p {
    margin: 0px 0px 50px 0px;
}

#signup {
    background-color: turquoise;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    padding: 5px 20px 5px 20px;
    box-shadow: 0px 10px 20px turquoise;
    border-radius: 15px 15px 15px;    
}
